<div class="row" id="about">
	<div class="col-md-4 col-md-offset-6">
		<h1>I am Agatha Bleuzen</h1>
		<h2>Student of Master in International Business</h2>
		<p>What do I do beside being a fabulous and almost professional cook?</p>
	</div>
</div>


<div class="row" id="education">
	<h1>Growing Up</h1>

<div class="col-md-12">
	<div class="education col-md-5 col-md-offset-4">
			<span class="date">2014 - 2016</span>
			<h4>Grenoble Graduate School of Business</h4>
			<h5>London, United Kingdom</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum ex voluptatibus laudantium, maiores perspiciatis amet at ratione nulla quam incidunt tenetur beatae libero minima, porro placeat, harum aut tempore aliquid.</p>
			<ul>
				<li>Financial Accounting</li>
				<li>Corporate Finance</li>
				<li>Strategic Management</li>
				<li>Marketing</li>
			</ul>
	</div>

</div>

<div class="col-md-12">
	<div class="education col-md-5 col-md-offset-4">
			<span class="date">2014 - 2016</span>
			<h4>Grenoble Graduate School of Business</h4>
			<h5>London, United Kingdom</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum ex voluptatibus laudantium, maiores perspiciatis amet at ratione nulla quam incidunt tenetur beatae libero minima, porro placeat, harum aut tempore aliquid.</p>
	</div>
</div>


</div>