// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,800);

$navbar-default-bg:#000;
$navbar-default-link-color:#fff;
$navbar-default-link-hover-color:#1abc9c;
$navbar-default-brand-hover-color:#fff;
$navbar-default-link-active-color:#1abc9c;

@import "bootstrap-sprockets";
@import "bootstrap";


body {
  position: relative;
}


#about {
	background:#e8e8e8;
	margin-top:50px;
}

// NAVBAR

.navbar-right {
	font-weight:600;
	font-size:16px;
}

.navbar-brand {
	font-size:20px;
}



// EDUCATION

#education h1 {
	text-align:center;
	font-size:56px;
	background:#1abc9c;
	border-radius:5px;
	padding:10px 5px;
	font-weight:900;
	color:#fff;
	text-transform:uppercase;
	width:500px;
	margin-left:430px;
}

.education {
	margin-bottom:50px;
	font-family: 'Raleway', sans-serif;
}


.education p {
	line-height:23px;
	font-size:16px;
	font-weight:300;
	color:#606060;
	
}

.education p, .education h4, .education h5 {
	margin-left:40px;
}

span.date {
	margin-left:125px;
	font-size:24px;
	color:#fff;
	background:#1abc9c;
	padding:5px 5px;
	border-radius:5px;
}

.education h4 {
	margin-top:20px;
	font-size:20px;
	font-weight:800;
	
}

.education h5 {
	font-size:18px;
	font-weight:700;
}

.education ul {
	margin-left:50px;
}

.education ul li {
	color:#606060;
}

// WORK EXPERIENCE

#experience {
	background:#F3EFE0;
}

#experience h1 {
	font-size:56px;
	background:#1abc9c;
	border-radius:5px;
	padding:10px 15px;
	font-weight:900;
	color:#fff;
	text-transform:uppercase;
	width:600px;
	margin-left:380px;
}

#experience h2 {
	font-size:22px;
	font-weight:300;
	text-align:center;
}

// Remonter le subtitle 


// WHAT I CAN DO

#can-do h1 {
	font-size:56px;
	background:#1abc9c;
	border-radius:5px;
	padding:10px 15px;
	font-weight:900;
	color:#fff;
	text-transform:uppercase;
	width:470px;
	margin-left:430px;

}

#can-do h2 {
		font-size:22px;
	font-weight:300;
	text-align:center;
}
	
// WhAT I LOVE

#love {
	background:#F3EFE0;
}

#love h1 {
	font-size:56px;
	background:#1abc9c;
	border-radius:5px;
	padding:10px 15px;
	font-weight:900;
	color:#fff;
	text-transform:uppercase;
	width:600px;
	margin-left:370px;
}



#love .col-md-offset-1 {
	margin-top:150px;
	margin-bottom:150px;
}


// GET IN TOUCH

#contact {
	background:#434242;
	height:650px;
}

#contact h1 {
	font-size:48px;
	padding:10px 15px;
	font-weight:300;
	color:#fff;
	text-transform:uppercase;
	width:445px;
	margin-left:470px;
	margin-top:150px;
}

#contact h2 {
	font-weight:300;
	font-size:22px;
	margin-left:350px;
	padding-bottom:50px;
	color:#6E7878;
	width:650px;
	border-bottom:1px solid #6E7878;
}

#contact .col-md-5 {
	margin-left:400px;
	margin-top:20px;
	padding-bottom:50px;
	margin-bottom:40px;

}

#contact .col-md-5 a {
	padding:10px 25px;

}

#contact span {
	border-top:1px solid #6E7878;
	padding-top:40px;
	margin-left:470px;
	color:#fff;
	margin-top:30px;
	font-size:18px;

}


// CAPTION

.caption-style-1{
		list-style-type: none;
		margin: 0px 0px 150px 0px;
		padding: 0px;
		
	}

	.caption-style-1 li{
		float: left;
		padding: 0px;
		position: relative;
		overflow: hidden;
	}

	.caption-style-1 li:last-child {
		margin-bottom: 200px;
	}

	.caption-style-1 li:hover .caption{
		opacity: 1;

	}


	.caption-style-1 img{
		margin: 0px;
		padding: 0px;
		float: left;
		z-index: 4;
	}


	.caption-style-1 .caption{
		cursor: pointer;
		position: absolute;
		opacity: 0;
		-webkit-transition:all 0.45s ease-in-out;
		-moz-transition:all 0.45s ease-in-out;
		-o-transition:all 0.45s ease-in-out;
		-ms-transition:all 0.45s ease-in-out;
		transition:all 0.45s ease-in-out;

	}
	.caption-style-1 .blur{
		background-color: rgba(0,0,0,0.65);
		height: 300px;
		width: 400px;
		z-index: 5;
		position: absolute;
	}

	.caption-style-1 .caption-text h1{
		text-transform: uppercase;
		font-size: 24px;
	}
	.caption-style-1 .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		width: 300px;
		height: 300px;
		text-align: center;
		top:20px;
	}

